.instance-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 24px;

  span {
    margin: 8px 0;
  }

  button {
    margin: 8px 0;
    width: 100%;
  }

  &__left-section {
    display: flex;
    align-items: center;

  }
  
  &__image {
    width: 120px;
    height: 120px;
    padding-right: 8px;
  }

  &__name, &__actions {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}