<div class="space-y-4 flex flex-col pb-20 md:pb-0">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">
      {{ 'categories.title' | translate }}
    </h1>
    @if (!(screenSize.isScreenMedium$ | async)) {
      <button mat-flat-button color="primary" (click)="onNewCategoryClick()">
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        <span>{{ 'categories.newCategory' | translate }}</span>
      </button>
    }
  </div>

  @if (loading) {
    <mat-progress-bar mode="indeterminate" class="ms-8"></mat-progress-bar>
  }

  @if (flatDataSource.data) {
    <div class="border dark:border-inverse rounded-lg overflow-auto">
      <table class="min-w-full mat-table">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell w-12"></th>
            <th class="mat-header-cell w-100"> {{ 'domain.category' | translate }} </th>
            <th class="mat-header-cell"> {{ 'shared.associatedItems' | translate }} </th>
            <th class="mat-header-cell text-right"> {{ 'common.actions' | translate}} </th>
          </tr>
        </thead>
        <tbody>
          <cdk-tree [dataSource]="flatDataSource" [treeControl]="flatTreeControl" class="contents">
            <cdk-tree-node
              *cdkTreeNodeDef="let details"
              [ngClass]="shouldRender(details) ? 'contents' : 'hidden'"
            >
              <tr class="hover:bg-primary-50 dark:hover:bg-neutral-800 px-4 cursor-pointer mat-row" [routerLink]="[details.category.id]">
                <td class="mat-cell w-12">
                  <button
                    mat-icon-button
                    cdkTreeNodeToggle
                    [style.visibility]="details.expandable ? 'visible' : 'hidden'"
                  >
                    <mat-icon class="material-symbols-outlined"> {{flatTreeControl.isExpanded(details) ? 'expand_more' : 'chevron_right'}} </mat-icon>
                  </button>
                </td>
                <td class="mat-cell w-100 text-nowrap">
                  <span class="inline-flex items-center" [style.padding-left.px]="details.level * 48">
                    <ng-container *ngTemplateOutlet="categoryName; context: {$implicit: details }"></ng-container>
                  </span>
                </td>
                <td class="mat-cell">
                  <span class="inline-flex items-center">
                    <ng-container *ngTemplateOutlet="itemsAmount; context: { $implicit: details }"></ng-container>
                  </span>
                </td>
                <td class="mat-cell text-right">
                  <span class="inline-flex items-center">
                    <ng-container *ngTemplateOutlet="actionButtons; context: { $implicit: details }"></ng-container>
                  </span>
                </td>
              </tr>
            </cdk-tree-node>
          </cdk-tree>
        </tbody>
      </table>

    </div>
  }
</div>

@if (screenSize.isScreenMedium$ | async) {
  <button mat-fab class="fixed bottom-4 right-4 z-10" color="primary" (click)="onNewCategoryClick()">
    <mat-icon class="material-symbols-outlined">add</mat-icon>
  </button>
}

<ng-template #categoryName let-details>
  <mat-icon class="material-symbols-outlined mr-2">{{ details.category.icon }}</mat-icon>
  {{ details.category.title }}
</ng-template>

<ng-template #itemsAmount let-details>
  {{ details.itemsAmount }}
  @if (details.itemsAmount) {
    <a
      mat-icon-button
      class="ml-2"
      matTooltip="{{ 'shared.viewAssociatedItems' | translate }}"
      [routerLink]="['../items']"
      [queryParams]="{ category: details.category.id }"
      (click)="$event.stopPropagation()"
    >
      <mat-icon class="material-symbols-outlined">arrow_outward</mat-icon>
    </a>
  }
</ng-template>

<ng-template #actionButtons let-details>
  <button
    mat-icon-button
    matTooltip="{{ 'categories.actions.addSubcategory' | translate }}"
    (click)="onNewCategoryClick(details.category); $event.stopPropagation()"
  >
    <mat-icon class="material-symbols-outlined">add</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="{{ 'categories.actions.editCategory' | translate }}"
    (click)="onEditCategoryClick(details.category); $event.stopPropagation()"
  >
    <mat-icon class="material-symbols-outlined">edit</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="{{ 'categories.actions.deleteCategory' | translate }}"
    (click)="onDeleteCategoryClick(details.category); $event.stopPropagation()"
  >
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
  </button>
</ng-template>