<div class="space-y-4">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">
      {{ 'categories.title' | translate }}
    </h1>
    <button mat-flat-button color="primary" (click)="onNewCategoryClick()">
      <mat-icon class="material-symbols-outlined">add</mat-icon>
      <span>{{ 'categories.newCategory' | translate }}</span>
    </button>
  </div>

  @if (loading) {
    <mat-progress-bar mode="indeterminate" class="ms-8"></mat-progress-bar>
  }

  @if (dataSource.data) {
    <div class="border dark:border-inverse rounded-lg overflow-hidden">
      <div class="p-4 category">
        <span>
          {{ 'domain.category' | translate }}
        </span>
        <div class="category__spacer"></div>
        <div class="category__count">
          <span class="count total-count">
            {{ 'shared.associatedItems' | translate }}
          </span>
        </div>
        <div class="category__actions">
          <span>
            {{ 'common.actions' | translate}}
          </span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: node }"></ng-container>
        </mat-tree-node>
    
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <ng-container *ngTemplateOutlet="categoryTemplate; context: { $implicit: node }"></ng-container>
          
          <div class="pl-12">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  }
</div>

<ng-template #categoryTemplate let-details>
  <div class="category hover:bg-primary-50 dark:hover:bg-neutral-800 px-4 cursor-pointer" [routerLink]="[details.category.id]">
    <mat-icon class="material-symbols-outlined w-10 h-10 mr-2">{{ details.category.icon }}</mat-icon>
    <span>{{ details.category.title }}</span>
    <div class="category__spacer"></div>
    <div class="category__count flex items-center">
      {{ details.itemsAmount }}
      @if (details.itemsAmount) {
        <a
          mat-icon-button
          class="ml-2"
          matTooltip="{{ 'shared.viewAssociatedItems' | translate }}"
          [routerLink]="['../items']"
          [queryParams]="{ category: details.category.id }"
          (click)="$event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">arrow_outward</mat-icon>
        </a>
      }
    </div>
    <div class="category__actions">
      <button
        mat-icon-button
        matTooltip="{{ 'categories.actions.addSubcategory' | translate }}"
        (click)="onNewCategoryClick(details.category); $event.stopPropagation()"
      >
        <mat-icon class="material-symbols-outlined">add</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="{{ 'categories.actions.editCategory' | translate }}"
        (click)="onEditCategoryClick(details.category); $event.stopPropagation()"
      >
        <mat-icon class="material-symbols-outlined">edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="{{ 'categories.actions.deleteCategory' | translate }}"
        (click)="onDeleteCategoryClick(details.category); $event.stopPropagation()"
      >
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
