.category {
  flex-grow: 1;

  min-height: var(--mat-tree-node-min-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &__spacer {
    flex-grow: 1;
  }

  &__count {
    padding-right: 20px;
    width: 200px;
    text-align: center;
  }

  &__actions {
    width: 40px * 3;
    text-align: center;
  }
}

.count {
  padding: 0 10px;
  
  &.total-count {
    font-weight: bold;
  }
}