<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content class="form-vertical">
    <mat-form-field>
      <input matInput required formControlName="title" placeholder="Title" />
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!categoryForm.valid">Save</button>
  </mat-dialog-actions>
</form>