<h2 mat-dialog-title>
  {{ 'itemDetails.historyOfName' | translate: {name: instance.code} }}
</h2>

<mat-dialog-content class="w-">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.from' | translate }}
      </th>
      <td mat-cell *matCellDef="let record">
        <div class="flex flex-col">
          <span>{{ record.startedAt | date: 'short' }}</span>
          @if (record.fromLocation) {
            <span>{{ record.fromLocation | location }}</span>
          } @else {
            <span>{{ 'common.unknown' | translate }}</span>
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.to' | translate }}
      </th>
      <td mat-cell *matCellDef="let record">
        @if (record.finishedAt) {
          <div class="flex flex-col">
            <span>{{ record.finishedAt | date: 'short' }}</span>
            @if (record.toLocation) {
              <span>{{ record.toLocation | location }}</span>
            } @else {
              <span>{{ 'common.unknown' | translate }}</span>
            }
          </div>
        } @else {
          <span>
            {{ 'common.inProgress' | translate }}
          </span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.by' | translate }}
      </th>
      <td mat-cell *matCellDef="let record">
        <div class="flex items-center space-x-4">
          <emr-avatar
            [src]="record.user.avatar"
            tooltip="{{record.user.firstName}} {{record.user.lastName}}"
          ></emr-avatar>
          <span class="ml-4">{{ record.user.firstName }} {{ record.user.lastName }}</span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['from', 'to', 'by']; sticky: true"></tr>
    <tr mat-row class="hover:bg-primary-50 dark:hover:bg-neutral-800" *matRowDef="let row; columns: ['from', 'to', 'by'];"></tr>
    <ng-template matNoDataRow>
      <tr>
        <td class="text-center" [attr.colspan]="3">
          <div class="flex justify-center items-center h-32 w-full dark:text-neutral-400 text-neutral-500">No history yet</div>
        </td>
      </tr>
    </ng-template>
  </table>
  <mat-paginator [pageSize]="5"></mat-paginator>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ 'common.actionVerbs.close' | translate }}
  </button>
</mat-dialog-actions>