<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>
    {{ 'userDetails.createUser' | translate }}
  </h2>

  <mat-dialog-content>
    <div class="flex flex-col items-center pt-2">
      <mat-form-field class="w-full">
        <mat-label>{{ 'userDetails.firstName' | translate }}</mat-label>
        <input matInput required formControlName="firstName" placeholder="{{ 'userDetails.firstName' | translate }}"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'userDetails.lastName' | translate }}</mat-label>
        <input matInput required formControlName="lastName" placeholder="{{ 'userDetails.lastName' | translate }}"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'common.email' | translate }}</mat-label>
        <input matInput required formControlName="email" placeholder="{{ 'common.email' | translate }}"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'common.phone' | translate }}</mat-label>
        <input matInput required formControlName="phone" placeholder="{{ 'common.phone' | translate }}"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'common.password' | translate }}</mat-label>
        <input
          matInput
          required
          formControlName="password"
          placeholder="{{ 'common.password' | translate }}"
          [type]="passwordHidden ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="passwordHidden = !passwordHidden; $event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ 'common.confirmPassword' | translate }}</mat-label>
        <input
          matInput
          required
          formControlName="passwordConfirmation"
          placeholder="{{ 'common.confirmPassword' | translate }}"
          [type]="passwordConfirmationHidden ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="passwordConfirmationHidden = !passwordConfirmationHidden; $event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">{{passwordConfirmationHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">
      {{ 'common.actionVerbs.cancel' | translate }}
    </button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!userForm.valid">
      {{ 'common.actionVerbs.save' | translate }}
    </button>
  </mat-dialog-actions>
</form>