<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ 'userDetails.editUser' | translate }}</h2>

  <mat-dialog-content>
    <div class="flex flex-col items-center pt-2">
      <mat-label>{{ 'userDetails.firstName' | translate }}</mat-label>
      <mat-form-field>
        <input
          matInput
          required
          formControlName="firstName"
          placeholder="{{'userDetails.firstName' | translate}}"
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{ 'userDetails.lastName' | translate }}</mat-label>
        <input
          matInput
          required
          formControlName="lastName"
          placeholder="{{'userDetails.lastName' | translate}}"
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>{{ 'common.phone' | translate }}</mat-label>
        <input
          matInput
          required
          formControlName="phone"
          placeholder="{{'common.phone' | translate}}"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">
      {{ 'common.actionVerbs.cancel' | translate }}
    </button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!userForm.valid">
      {{ 'common.actionVerbs.save' | translate }}
    </button>
  </mat-dialog-actions>
</form>