<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content class="form-vertical">
    <mat-form-field>
      <input matInput required formControlName="title" placeholder="{{ 'common.title' | translate }}" />
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="number" formControlName="floor" placeholder="{{ 'locations.floor' | translate }}" />
    </mat-form-field>
    <!-- <mat-checkbox class="py-4" formControlName="visibility">Visible</mat-checkbox> -->
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">
      {{ 'common.actionVerbs.cancel' | translate }}
    </button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!locationForm.valid">
      {{ 'common.actionVerbs.save' | translate }}
    </button>
  </mat-dialog-actions>
</form>