<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Change password</h2>

  <mat-dialog-content>
    <div class="flex flex-col items-center pt-2">

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          formControlName="newPassword"
          placeholder="Password"
          [type]="passwordHidden ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="passwordHidden = !passwordHidden; $event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          required
          formControlName="newPasswordConfirmation"
          placeholder="Confirm password"
          [type]="passwordConfirmationHidden ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="passwordConfirmationHidden = !passwordConfirmationHidden; $event.stopPropagation()"          
        >
          <mat-icon class="material-symbols-outlined">{{passwordConfirmationHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!passwordForm.valid" >Save</button>
  </mat-dialog-actions>
</form>