<h2 mat-dialog-title>
  {{ 'itemDetails.selectUser' | translate }}
</h2>

<mat-dialog-content>
  <mat-action-list>
    @for (user of users; track user.id) {
      <button mat-list-item (click)="selectUser(user)">
        <div class="flex items-center">
          <emr-avatar
            [src]="user.avatar"
            tooltip="{{user.firstName}} {{user.lastName}}"
          ></emr-avatar>
          <span class="ml-4">
            {{ user.firstName }} {{ user.lastName }}
          </span>
        </div>
      </button>
    }
  </mat-action-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ 'common.actionVerbs.cancel' | translate }}
  </button>
</mat-dialog-actions>