:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline-start: 0.75rem;
  height: 2.75rem;
  position: relative;

  .search-icon {
    z-index: 1;
    position: relative;
    color: var(--color-neutral-500);
  }

  input {
    position: absolute;
    inset: 0;
    border-radius: var(--radius-md);
    padding-left: 3rem;
    background: var(--color-neutral-200);
    z-index: 0;
    outline: none;
    font-size: var(--font-size-md);

    &::placeholder {
      color: var(--color-neutral-500);
    }
  }

  &.has-dropdown {
    z-index: 1001;

    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: white;
    }
  }
}

:host-context(html.dark) {
  .search-icon {
    color: var(--color-neutral-400);
  }

  input {
    color: var(--color-neutral-200);
    background-color: var(--color-neutral-700);

    &::placeholder {
      color: var(--color-neutral-400);
    }
  }
}
