<emr-layout layoutId="root" windowMode>
  <emr-layout-sidebar>
    <app-sidebar/>
  </emr-layout-sidebar>
  <emr-layout>
    <emr-layout-header>
      <div class="px-4 md:px-10 py-4 border-b dark:border-b-neutral-600 sticky">
        <app-header (onSidebarToggle)="onSidebarToggle()"></app-header>
      </div>
    </emr-layout-header>
    <emr-layout-body class="!overflow-hidden">
      <div class="px-4 md:px-10 py-4 overflow-hidden h-full">
        <router-outlet></router-outlet>
      </div>
    </emr-layout-body>
  </emr-layout>
</emr-layout>