<mat-card class="instance-row">
  <div class="instance-row__left-section">
    <img class="instance-row__image" [src]="getInstanceQrCodeUrl(instance)" />
    <div class="instance-row__name">
      <span>
        <!-- <a [routerLink]="[instance.id]"> -->
        {{ instance.name }}
        <!-- </a> -->
      </span>
      <span>ID: {{ instance.code }}</span>
      <span>
        Current location: 
        @if (instance.room) {
          Floor {{ instance.room.floor }}, {{ instance.room.title }}
        } @else {
          On hands
        }
      </span>
    </div>
  </div>
  @if (instance.user) {
    <div class="instance-row__user">
      <span>{{ stringifyStatus(instance.status) }} by</span>
      <emr-avatar
        [src]="instance.user.avatar"
        tooltip="{{instance.user.firstName}} {{instance.user.lastName}}"
      ></emr-avatar>
      <span>Current user: {{ instance.user.firstName }} {{ instance.user.lastName }}</span>
    </div>
  }
  <div class="instance-row__actions">
    @if (instance.status === movableItemStatus.Available) {
      <button
        mat-flat-button
        [color]="getStatusColor(instance.status)"
        (click)="assignInstance(instance)"
      >
        <mat-icon class="material-symbols-outlined">person_add</mat-icon>
        <span>Assign</span>
      </button>
    }
    @if (instance.status === movableItemStatus.Booked) {
      <button
        mat-flat-button
        [color]="getStatusColor(instance.status)"
        (click)="cancelBooking(instance)"
      >
        <mat-icon class="material-symbols-outlined">block</mat-icon>
        <span>Cancel booking</span>
      </button>
    }
    @if (instance.status === movableItemStatus.Taken) {
      <button
        mat-flat-button
        [color]="getStatusColor(instance.status)"
        (click)="unassignInstance(instance)"
      >
        <mat-icon class="material-symbols-outlined">person_remove</mat-icon>
        <span>Unassign</span>
      </button>
    }
    <!-- <button mat-flat-button color="primary" (click)="showQR(instance)">
      <mat-icon>qr_code</mat-icon>
      <span>Show QR code</span>
    </button> -->
    @if (instance.status === movableItemStatus.Available) {
      <button mat-flat-button color="primary" (click)="move(instance)">
        <mat-icon class="material-symbols-outlined">open_with</mat-icon>
        <span>Move</span>
      </button>
    }
    <button mat-flat-button color="warn" (click)="delete(instance)">
      <mat-icon class="material-symbols-outlined">delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</mat-card>