<div class="flex items-center gap-3">
  <button mat-icon-button class="shrink-0" (click)="toggleSidebar()">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <app-global-search class="grow"></app-global-search>
  <app-language-selector tooltip="{{ 'header.languages' | translate }}"></app-language-selector>

  <emr-color-scheme-switcher matTooltip="Color Theme" class="shrink-0" emrSoundEffect>
    <mat-icon class="material-symbols-outlined" *emrColorSchemeLight>light_mode</mat-icon>
    <mat-icon class="material-symbols-outlined" *emrColorSchemeDark>dark_mode</mat-icon>
  </emr-color-scheme-switcher>

  <button
    mat-icon-button
    matTooltip="{{ 'header.logout' | translate }}"
    class="shrink-0"
    (click)="onLogout()">
    <mat-icon class="material-symbols-outlined mr-1">logout</mat-icon>
  </button>
</div>