<div class="px-10 py-4 space-y-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <button mat-icon-button [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <h1 class="text-lg font-bold"> User details </h1>
    </div>

    @if (user) {
      <div class="flex items-center row space-x-4">
        <button
          mat-flat-button
          color="primary"
          matTooltip="View Associated Items on the Items page"
          [routerLink]="['../../items']"
          [queryParams]="{ users: [ user.id ] }"
          (click)="$event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">arrow_outward</mat-icon>
          Associated items
        </button>
        
        <button
          mat-flat-button
          color="primary"
          (click)="onPasswordChange()"
        >
          <mat-icon class="material-symbols-outlined">key</mat-icon>
          Change password
        </button>

        <button
          mat-flat-button
          color="primary"
          (click)="onEdit()"
        >
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          Edit
        </button>
   
        <div>
          <button
            mat-flat-button
            color="warn"
            (click)="onDelete()"
          >
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    }
  </div>

  <mat-card class="my-4">
    @if (!user) {
      <div class="flex items-center justify-center">
        <mat-progress-spinner diameter="32"></mat-progress-spinner>
      </div>
    } @else {
      <mat-card-header>
        <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      </mat-card-header>

      <div class="my-4">
        <mat-divider></mat-divider>
      </div>

      <mat-card-content>
        <div class="flex row items-start justify-between">
          <!-- List of details -->

          <table class="overview__details details">
            <tbody>
              <tr>
                <td class="details__label">First Name</td>
                <td class="details__value ml-4">{{ user.firstName }}</td>
              </tr>
              <tr>
                <td class="details__label">Last Name</td>
                <td class="details__value ml-4">{{ user.lastName }}</td>
              </tr>
              <tr>
                <td class="details__label">Phone</td>
                <td class="details__value">
                  <a href="tel:{{user.phone}}">
                    {{ user.phone }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="details__label">Email</td>
                <td class="details__value">
                  <a href="mailto:{{user.email}}">
                    {{ user.email }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    }
  </mat-card>

</div>
