<div class="space-y-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <button mat-icon-button [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <h1 class="text-lg font-bold">
        {{ 'userDetails.title' | translate }}
      </h1>
    </div>

    @if (user) {
      <div class="flex items-center row space-x-4">
        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          matTooltip="{{ 'shared.viewOnItemsPage' | translate }}"
          [routerLink]="['../../items']"
          [queryParams]="{ users: [ user.id ] }"
          (click)="$event.stopPropagation()"
        >
          <mat-icon class="material-symbols-outlined">arrow_outward</mat-icon>
          {{ 'shared.associatedItems' | translate }}
        </button>
        
        <button
          mat-flat-button
          color="primary"
          (click)="onPasswordChange()"
        >
          <mat-icon class="material-symbols-outlined">key</mat-icon>
          {{ 'userDetails.changePassword' | translate }}
        </button>

        <button
          mat-flat-button
          color="primary"
          (click)="onEdit()"
        >
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          {{ 'common.actionVerbs.edit' | translate }}
        </button>
   
        <div>
          <button
            mat-flat-button
            color="warn"
            (click)="onDelete()"
          >
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
            {{ 'common.actionVerbs.delete' | translate }}
          </button>
        </div>
      </div>
    }
  </div>

  <mat-card class="my-4">
    @if (!user) {
      <div class="flex items-center justify-center">
        <mat-progress-spinner diameter="32"></mat-progress-spinner>
      </div>
    } @else {
      <mat-card-header>
        <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      </mat-card-header>

      <div class="my-4">
        <mat-divider></mat-divider>
      </div>

      <mat-card-content>
        <div class="flex items-start justify-between">
          <!-- List of details -->

          <table>
            <tbody>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'userDetails.firstName' | translate }}
                </td>
                <td class="italic">{{ user.firstName }}</td>
              </tr>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'userDetails.lastName' | translate }}
                </td>
                <td class="italic">{{ user.lastName }}</td>
              </tr>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'common.phone' | translate }}
                </td>
                <td class="italic">
                  <a href="tel:{{user.phone}}">
                    {{ user.phone }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'common.email' | translate }}
                </td>
                <td class="italic">
                  <a href="mailto:{{user.email}}">
                    {{ user.email }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    }
  </mat-card>

</div>
