
.details {
  &__label {
    font-weight: 500;
    padding-right: 8px;
  }

  &__value {
    font-style: italic;
  }

  &__total {
    font-weight: bold;
  }
}

::ng-deep {
  .mat-expansion-panel-header {
    height: unset !important;
  }
}