.overview {

  &__image{
    max-width: 300px;
    max-height: 400px;
    height: auto;
    display: block;
  }

  &__image-placeholder {
    width: 50%;
    max-width: 300px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--emr-background);
  }
}

.details {
  &__label {
    font-weight: 500;
    padding-right: 8px;
  }

  &__value {
    font-style: italic;
  }

  &__total {
    font-weight: bold;
  }
}
