<div class="px-10 py-4 space-y-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <button mat-icon-button [routerLink]="['..']" queryParamsHandling="preserve">
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <h1 class="text-lg font-bold">
        {{ 'itemDetails.title' | translate }}
      </h1>
    </div>

    @if (item) {
      <div class="flex items-center row space-x-4">
        <button mat-flat-button color="primary" (click)="onEdit()">
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          {{ 'common.actionVerbs.edit' | translate }}
        </button>
  
        <button mat-flat-button color="warn" (click)="onDelete()">
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
          {{ 'common.actionVerbs.delete' | translate }}
        </button>
      </div>
    }
  </div>

  <mat-card class="my-4 space-y-2">
    <mat-card-header>
      <mat-card-title>{{ item?.name ?? '' }}</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    
    @if (!item) {
      <div class="flex items-center justify-center">
        <mat-progress-spinner diameter="32"></mat-progress-spinner>
      </div>
    } @else {
      <mat-card-content>
        <div class="flex row items-start justify-between">
          <!-- List of details -->
          
          <table class="overview__details details">
            <tbody>
              <tr>
                <td class="details__label">
                  {{ 'common.description' | translate }}
                </td>
                <td class="details__value">{{ item.description || ('itemDetails.noDescription' | translate ) }}</td>
              </tr>
              <tr>
                <td class="details__label">
                  {{ 'domain.category' | translate }}
                </td>
                <td class="details__value">
                  <ng-container *ngTemplateOutlet="categoryBranch; context: { $implicit: item.category }"></ng-container>
                </td>
              </tr>
              <tr class="text-primary">
                <td class="details__label">
                  {{ 'domain.statuses.available' | translate }}
                </td>
                <td class="details__value">{{ availableCount }}</td>
              </tr>
              <tr class="text-secondary">
                <td class="details__label">
                  {{ 'domain.statuses.booked' | translate }}
                </td>
                <td class="details__value">{{ bookedCount }}</td>
              </tr>
              <tr class="text-error">
                <td class="details__label">
                  {{ 'domain.statuses.taken' | translate }}
                </td>
                <td class="details__value">{{ takenCount }}</td>
              </tr>
              <tr class="font-bold">
                <td class="details__label">
                  {{ 'common.total' | translate }}
                </td>
                <td class="details__value">{{ this.dataSource.data.length }}</td>
              </tr>
            </tbody>
          </table>

          @if (item.imgSrc) {
            <img class="overview__image" [src]="getImgSrc(item)">
          } @else {
            <div class="overview__image-placeholder">
              <mat-icon class="material-symbols-outlined">image</mat-icon>
              <span>
                {{ 'itemDetails.editItemToAddImage' | translate }}
              </span>
            </div>
          }
        </div>
      </mat-card-content>
    }
  </mat-card>
  
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4">

      <span>{{ 'common.filterBy' | translate }}:</span>

      @if (selectedUsers.length) {
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="usersMenu"
          #usersMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (usersMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
  
            <emr-avatar-group>
              @for (user of selectedUsers; track user.id) {
                <emr-avatar
                  [src]="user.avatar"
                  tooltip="{{user.firstName}} {{user.lastName}}"
                ></emr-avatar>
              }
            </emr-avatar-group>
          </div>
        </button>
      } @else {
        <button
          mat-button
          [matMenuTriggerFor]="usersMenu"
          #usersMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (usersMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
  
            {{ 'domain.user' | translate }}
          </div>
        </button>
      }

      <mat-menu #usersMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="onUserSelectionClean(); userSearchInput.value = ''">
          {{ 'common.all' | translate }}
        </button>
        <mat-divider></mat-divider>
        <input
          #userSearchInput
          matInput
          type="text"
          placeholder="{{ 'common.search' | translate }}..."
          class="px-2 h-10 w-48 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
          (input)="onUserSuggestionSearch($event)"
          (click)="$event.stopPropagation()">
        <mat-divider></mat-divider>
        @for (user of userSuggestions; track user.id) {
          <button mat-menu-item (click)="onUserSelect(user); $event.stopPropagation()">
            <div class="flex flex-row justify-start items-center space-x-2 py-2">
              <emr-avatar
                [src]="user.avatar"
                [ngClass]="{'dark:border-4-inverse border-4 border-primary': isUserSelected(user) }"
              ></emr-avatar>
              <div>{{user.firstName}} {{user.lastName}}</div>
            </div>
          </button>
        }
      </mat-menu>

      @if (selectedLocation) {
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="locationsMenu"
          #locationsMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (locationsMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
            {{ selectedLocation | location }}
          </div>
        </button>
      } @else {
        <button
          mat-button
          [matMenuTriggerFor]="locationsMenu"
          #locationsMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (locationsMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
            
            {{ 'domain.location' | translate }}
          </div>
        </button>
      }


      <mat-menu #locationsMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="onLocationSelect(null); locationSearchInput.value = ''">
          {{ 'common.all' | translate }}
        </button>
        <mat-divider></mat-divider>
        <input
          #locationSearchInput
          matInput
          type="text"
          placeholder="{{ 'common.search' | translate }}..."
          class="px-2 h-10 w-48 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
          (input)="onLocationSuggestionSearch($event)"
          (click)="$event.stopPropagation()">
        <mat-divider></mat-divider>
        @for (location of locationSuggestions; track location.id) {
          <button mat-menu-item (click)="onLocationSelect(location); $event.stopPropagation()">
            {{ location | location }}
          </button>
        }
      </mat-menu>

      @if (filtersApplied) {
        <button mat-button (click)="onFiltersClear()">
          {{ 'common.clearFilters' | translate }}
          <mat-icon class="material-symbols-outlined">clear</mat-icon>
        </button>
      }
    </div>

    <div class="flex items-center justify-end">
      <button
        mat-flat-button
        class="mr-4"
        matTooltip="{{ 'itemDetails.quickAddTooltip' | translate}}"
        color="primary"
        (click)="onQuickAdd()"
      >
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        {{ 'itemDetails.quickAdd' | translate }}
      </button>
  
      <!-- <button
        mat-flat-button
        [matTooltip]="Quickly add an instance"
        color="primary"
        (click)="onAddInstances()"
      >
        <mat-icon class="material-symbols-outlined">settings</mat-icon>
        Add instances //TODO :translate
      </button> -->
    </div>
  </div>


  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.title' | translate }}
      </th>
      <td mat-cell *matCellDef="let instance"> {{ instance.name }} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'domain.location' | translate }}  
      </th>
      <td mat-cell *matCellDef="let instance">
        @if (instance.location) {
          {{ instance.location | location }}
        } @else {
          {{ 'domain.onHands' | translate }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'domain.status' | translate }}
      </th>
      <td mat-cell *matCellDef="let instance">
        {{ getStatusTranslationKey(instance.status) | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'domain.user' | translate }}
      </th>
      <td mat-cell *matCellDef="let instance">
        @if (instance.user) {
          <div class="flex items-center space-x-2">
            <emr-avatar
              [src]="instance.user.avatar"
              tooltip="{{instance.user.firstName}} {{instance.user.lastName}}"
            ></emr-avatar>
            <span>{{ instance.user.firstName }} {{ instance.user.lastName }}</span>
          </div>
        } @else {
          <span>
            {{ 'domain.notAssigned' | translate }}
          </span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.actions' | translate }}
      </th>
      <td mat-cell *matCellDef="let instance">
        <a
          mat-icon-button
          matTooltip="{{ 'itemDetails.qrCodeTooltip' | translate }}"
          target="_blank"
          [href]="getInstanceQrCodeUrl(instance)"
        >
          <mat-icon class="material-symbols-outlined">qr_code</mat-icon>
        </a>

        <button
          mat-icon-button
          matTooltip="{{ 'itemDetails.historyTooltip' | translate }}"
          (click)="openHistoryModal(instance)"
        >
          <mat-icon class="material-symbols-outlined">history</mat-icon>
        </button>
        @if (instance.status === movableItemStatus.Available) {
          <button
            mat-icon-button
            matTooltip="{{ 'domain.actionVerbs.assign' | translate }}"
            (click)="assignInstance(instance)"
          >
            <mat-icon class="material-symbols-outlined">person_add</mat-icon>
          </button>
        }
        @if (instance.status === movableItemStatus.Booked) {
          <button
            mat-icon-button
            matTooltip="{{ 'domain.actionVerbs.cancelBooking' | translate }}"
            (click)="cancelBooking(instance)"
          >
            <mat-icon class="material-symbols-outlined">block</mat-icon>
          </button>
        }
        @if (instance.status === movableItemStatus.Taken) {
          <button
            mat-icon-button
            matTooltip="{{ 'domain.actionVerbs.unassign' | translate }}"
            (click)="unassignInstance(instance)"
          >
            <mat-icon class="material-symbols-outlined">person_remove</mat-icon>
          </button>
        }
        @if (instance.status === movableItemStatus.Available) {
          <button
            mat-icon-button
            matTooltip="{{ 'domain.actionVerbs.move' | translate }}"
            (click)="moveInstance(instance)"
          >
            <mat-icon class="material-symbols-outlined">open_with</mat-icon>
          </button>
        }
        <button
          mat-icon-button
          matTooltip="{{ 'common.actionVerbs.delete' | translate }}"
          (click)="deleteInstance(instance)"
        >
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky"></tr>
    <tr mat-row class="hover:bg-primary-50 dark:hover:bg-neutral-800" *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-template matNoDataRow>
      <tr>
        <td class="text-center" [attr.colspan]="displayedColumns.length">
          <div class="flex justify-center items-center h-32 w-full dark:text-neutral-400 text-neutral-500">
            {{ 'itemDetails.noDataPlaceholder' | translate  }}
          </div>
        </td>
      </tr>
    </ng-template>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25]" showFirstLastButtons></mat-paginator>
</div>


<ng-template #categoryBranch let-category>
  <div class="flex justify-start align-center">
    @if (category.parent) {
      <ng-container *ngTemplateOutlet="categoryBranch; context: { $implicit: category.parent }"></ng-container>
      <span class="text-primary-500 dark:text-primary-400 px-1">/</span>
    }
    @if(category.icon) {
      <mat-icon class="material-symbols-outlined w-10 h-10 mr-2">{{ category.icon }}</mat-icon>
    }
    {{ category.title }}
  </div>
</ng-template>