<div class="space-y-4 flex flex-col pb-20 md:pb-0">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <button mat-icon-button [routerLink]="['..']" queryParamsHandling="preserve">
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <h1 class="text-lg font-bold">
        {{ 'itemDetails.title' | translate }}
      </h1>
    </div>

    @if (item) {
      <div class="md:flex items-center flex-row space-x-4 hidden">
        <button mat-flat-button color="primary" (click)="onEdit()">
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          {{ 'common.actionVerbs.edit' | translate }}
        </button>
  
        <button mat-flat-button color="warn" (click)="onDelete()">
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
          {{ 'common.actionVerbs.delete' | translate }}
        </button>
      </div>
      <div class="flex items-center md:hidden">
        <button mat-icon-button (click)="onEdit()">
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete()">
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>
      </div>
    }
  </div>

  <mat-card class="my-4 space-y-2">
    <mat-card-header>
      <mat-card-title>{{ item?.name ?? '' }}</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    @if (!item) {
      <div class="flex items-center justify-center">
        <mat-progress-spinner diameter="32"></mat-progress-spinner>
      </div>
    } @else {
      <mat-card-content>
        <div class="flex flex-col items-start gap-4 md:flex-row md:justify-between">
          <table>
            <tbody>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'common.description' | translate }}
                </td>
                <td class="italic">{{ item.description || ('common.noDescription' | translate ) }}</td>
              </tr>
              <tr>
                <td class="font-medium pr-4">
                  {{ 'domain.category' | translate }}
                </td>
                <td class="italic">
                  <ng-container *ngTemplateOutlet="categoryBranch; context: { $implicit: item.category }"></ng-container>
                </td>
              </tr>
              <tr class="text-primary">
                <td class="font-medium pr-4">
                  {{ 'domain.statuses.available' | translate }}
                </td>
                <td class="italic">{{ availableCount }}</td>
              </tr>
              <tr class="text-secondary">
                <td class="font-medium pr-4">
                  {{ 'domain.statuses.booked' | translate }}
                </td>
                <td class="italic">{{ bookedCount }}</td>
              </tr>
              <tr class="text-error">
                <td class="font-medium pr-4">
                  {{ 'domain.statuses.taken' | translate }}
                </td>
                <td class="italic">{{ takenCount }}</td>
              </tr>
              <tr class="font-bold">
                <td class="font-medium pr-4">
                  {{ 'common.total' | translate }}
                </td>
                <td class="italic">{{ this.dataSource.data.length }}</td>
              </tr>
            </tbody>
          </table>

          <div class="w-full md:w-auto md:max-w-96">
            @if (item.imgSrc) {
              <img class="max-w-full h-auto" [src]="item.imgSrc">
            } @else {
              <div class="w-full md:w-52 h-40 flex flex-col justify-center items-center bg-background">
                <mat-icon class="material-symbols-outlined">image</mat-icon>
                <span class="text-center">
                  {{ 'itemDetails.editItemToAddImage' | translate }}
                </span>
              </div>
            }
          </div>
        </div>
      </mat-card-content>
    }
  </mat-card>

  <div class="flex justify-between items-start flex-col-reverse gap-4 md:flex-row md:items-center">
    <div class="flex items-center flex-wrap gap-4">
      <span class="hidden md:block">{{ 'common.filterBy' | translate }}:</span>

      @if (selectedUsers.length) {
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="usersMenu"
          #usersMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (usersMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
  
            <emr-avatar-group>
              @for (user of selectedUsers; track user.id) {
                <emr-avatar
                  [src]="user.avatar"
                  tooltip="{{user.firstName}} {{user.lastName}}"
                ></emr-avatar>
              }
            </emr-avatar-group>
          </div>
        </button>
      } @else {
        <button
          mat-button
          [matMenuTriggerFor]="usersMenu"
          #usersMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (usersMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
  
            {{ 'domain.user' | translate }}
          </div>
        </button>
      }

      <mat-menu #usersMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="onUserSelectionClean(); userSearchInput.value = ''">
          {{ 'common.all' | translate }}
        </button>
        <mat-divider></mat-divider>
        <input
          #userSearchInput
          matInput
          type="text"
          placeholder="{{ 'common.search' | translate }}..."
          class="px-2 h-10 w-48 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
          (input)="onUserSuggestionSearch($event)"
          (click)="$event.stopPropagation()">
        <mat-divider></mat-divider>
        @for (user of userSuggestions; track user.id) {
          <button mat-menu-item (click)="onUserSelect(user); $event.stopPropagation()">
            <div class="flex flex-row justify-start items-center space-x-2 py-2">
              <emr-avatar
                [src]="user.avatar"
                [ngClass]="{'dark:border-4-inverse border-4 border-primary': isUserSelected(user) }"
              ></emr-avatar>
              <div>{{user.firstName}} {{user.lastName}}</div>
            </div>
          </button>
        }
      </mat-menu>

      @if (selectedLocation) {
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="locationsMenu"
          #locationsMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (locationsMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
            {{ selectedLocation | location }}
          </div>
        </button>
      } @else {
        <button
          mat-button
          [matMenuTriggerFor]="locationsMenu"
          #locationsMenuTrigger="matMenuTrigger"
        >
          <div class="flex flex-row justify-center items-center">
            @if (locationsMenuTrigger.menuOpen) {
              <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
            } @else {
              <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
            }
            
            {{ 'domain.location' | translate }}
          </div>
        </button>
      }

      <mat-menu #locationsMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="onLocationSelect(null); locationSearchInput.value = ''">
          {{ 'common.all' | translate }}
        </button>
        <mat-divider></mat-divider>
        <input
          #locationSearchInput
          matInput
          type="text"
          placeholder="{{ 'common.search' | translate }}..."
          class="px-2 h-10 w-48 text-sm bg-transparent outline-0 focus-within:border-neutral-950"
          (input)="onLocationSuggestionSearch($event)"
          (click)="$event.stopPropagation()">
        <mat-divider></mat-divider>
        @for (location of locationSuggestions; track location.id) {
          <button mat-menu-item (click)="onLocationSelect(location); $event.stopPropagation()">
            {{ location | location }}
          </button>
        }
      </mat-menu>

      @if (filtersApplied) {
        <button mat-button (click)="onFiltersClear()">
          {{ 'common.clearFilters' | translate }}
          <mat-icon class="material-symbols-outlined">clear</mat-icon>
        </button>
      }
    </div>

    @if (!(screenSize.isScreenMedium$ | async)) {
      <div class="flex items-center justify-end">
        <button
          mat-flat-button
          matTooltip="{{ 'itemDetails.quickAddTooltip' | translate}}"
          color="primary"
          (click)="onQuickAdd()"
        >
          <mat-icon class="material-symbols-outlined">add</mat-icon>
          {{ 'itemDetails.quickAdd' | translate }}
        </button>
    
        <!-- <button
          mat-flat-button
          [matTooltip]="Quickly add an instance"
          color="primary"
          (click)="onAddInstances()"
        >
          <mat-icon class="material-symbols-outlined">settings</mat-icon>
          Add instances //TODO :translate
        </button> -->
      </div>
    }
  </div>

  <div class="border dark:border-inverse rounded-lg overflow-auto">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'domain.code' | translate }}
        </th>
        <td mat-cell *matCellDef="let instance" class="text-nowrap"> {{ instance.code }} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'domain.location' | translate }}  
        </th>
        <td mat-cell *matCellDef="let instance" class="text-nowrap">
          @if (instance.location) {
            {{ instance.location | location }}
          } @else {
            {{ 'domain.onHands' | translate }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'domain.status' | translate }}
        </th>
        <td mat-cell *matCellDef="let instance" class="text-nowrap">
          {{ getStatusTranslationKey(instance.status) | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'domain.user' | translate }}
        </th>
        <td mat-cell *matCellDef="let instance" class="text-nowrap">
          @if (instance.user) {
            <div class="flex items-center space-x-2">
              <emr-avatar
                [src]="instance.user.avatar"
                tooltip="{{instance.user.firstName}} {{instance.user.lastName}}"
              ></emr-avatar>
              <span>{{ instance.user.firstName }} {{ instance.user.lastName }}</span>
            </div>
          } @else {
            <span>
              {{ 'domain.notAssigned' | translate }}
            </span>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.actions' | translate }}
        </th>
        <td mat-cell *matCellDef="let instance" class="text-nowrap">
          <button
            mat-icon-button
            matTooltip="{{ 'itemDetails.qrCodeTooltip' | translate }}"
            (click)="downloadInstanceQrCode(instance)"
          >
            <mat-icon class="material-symbols-outlined">qr_code</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="{{ 'itemDetails.historyTooltip' | translate }}"
            (click)="openHistoryModal(instance)"
          >
            <mat-icon class="material-symbols-outlined">history</mat-icon>
          </button>
          @if (instance.status === movableItemStatus.Available) {
            <button
              mat-icon-button
              matTooltip="{{ 'domain.actionVerbs.assign' | translate }}"
              (click)="assignInstance(instance)"
            >
              <mat-icon class="material-symbols-outlined">person_add</mat-icon>
            </button>
          }
          @if (instance.status === movableItemStatus.Booked) {
            <button
              mat-icon-button
              matTooltip="{{ 'domain.actionVerbs.cancelBooking' | translate }}"
              (click)="cancelBooking(instance)"
            >
              <mat-icon class="material-symbols-outlined">block</mat-icon>
            </button>
          }
          @if (instance.status === movableItemStatus.Taken) {
            <button
              mat-icon-button
              matTooltip="{{ 'domain.actionVerbs.unassign' | translate }}"
              (click)="unassignInstance(instance)"
            >
              <mat-icon class="material-symbols-outlined">person_remove</mat-icon>
            </button>
          }
          <button
            mat-icon-button
            matTooltip="{{ 'domain.actionVerbs.move' | translate }}"
            [disabled]="instance.status !== movableItemStatus.Available"
            (click)="moveInstance(instance)"
          >
            <mat-icon class="material-symbols-outlined">open_with</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="{{ 'common.actionVerbs.delete' | translate }}"
            (click)="deleteInstance(instance)"
          >
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="paginator">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          <mat-paginator [pageSize]="10"></mat-paginator>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky"></tr>
      <tr mat-row class="hover:bg-primary-50 dark:hover:bg-neutral-800" *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-template matNoDataRow>
        <tr>
          <td class="text-center" [attr.colspan]="displayedColumns.length">
            <div class="flex justify-center items-center h-32 w-full dark:text-neutral-400 text-neutral-500">
              {{ 'itemDetails.noDataPlaceholder' | translate  }}
            </div>
          </td>
        </tr>
      </ng-template>
      <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
    </table>
  </div>
</div>

@if (screenSize.isScreenMedium$ | async) {
  <button mat-fab class="fixed bottom-4 right-4 z-10" color="primary" (click)="onQuickAdd()">
    <mat-icon class="material-symbols-outlined">add</mat-icon>
  </button>
}

<ng-template #categoryBranch let-category>
  <div class="flex justify-start align-center">
    @if (category.parent) {
      <ng-container *ngTemplateOutlet="categoryBranch; context: { $implicit: category.parent }"></ng-container>
      <span class="text-primary-500 dark:text-primary-400 px-1">/</span>
    }
    @if(category.icon) {
      <mat-icon class="material-symbols-outlined w-10 h-10 mr-2">{{ category.icon }}</mat-icon>
    }
    {{ category.name }}
  </div>
</ng-template>