.item-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .counts {
    padding: 0 10px;
    
    &.available-count {
      padding: 0 20px;
      color: var(--emr-primary);
    }
    
    &.booked-count {
      color: var(--emr-secondary);
    }
    
    &.taken-count {
      color: var(--emr-error);
    }
    
    &.total-count {
      font-weight: bold;
    }
  }
}

.item-instance {
  padding: 16px 0;
}