<div class="p-10 space-y-8">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <button mat-icon-button [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <h1 class="text-lg font-bold">
        Item details
        @if (item) {
          - {{ item.name }}
        }
      </h1>
    </div>

    <div class="flex items-center">
      <button
        mat-flat-button
        class="mr-4"
        matTooltip="Quickly add an instance"
        color="primary"
        (click)="onQuickAdd()"
      >
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        Quick add
      </button>
  
      <!-- <button
        mat-flat-button
        matTooltip="Quickly add an instance"
        color="primary"
        (click)="onAddInstances()"
      >
        <mat-icon class="material-symbols-outlined">settings</mat-icon>
        Add instances
      </button> -->
    </div>
  </div>
  
  <div class="item-description">
    @if (item) {
      <p>{{ getCategoryFullTitle(item.category) }}</p>
    }
    <p>
      @if ( instances?.length ) {
        <span class="counts available-count">Available: {{ availableCount }}</span>
        <span class="counts booked-count">Booked: {{ bookedCount }}</span>
        <span class="counts taken-count">Taken: {{ takenCount }}</span>
      }
      <span class="counts total-count">Total: {{ instances?.length }}</span>
    </p>
  </div>
  
  <mat-divider></mat-divider>
  
  @for (instance of instances; track instance.id) {
    <div class="item-instance">
      <app-instance-row [instance]="instance" (onInstanceDelete)="onInstanceDelete(instance)"></app-instance-row>
    </div>
  }
</div>