<div class="p-10 space-y-8">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Items</h1>
    <button mat-flat-button color="primary" (click)="onNewItemClick()">
      <mat-icon class="material-symbols-outlined">add</mat-icon>
      New item
    </button>
  </div>

  <div class="border dark:border-inverse rounded-lg overflow-hidden">
    <table mat-table [dataSource]="items" class="mat-elevation-z8">

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> 
          <h3>{{element.name}}</h3>
          <p>{{element.description}}</p>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.singularName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef> Availability </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.instancesCount - element.takenBy?.length - element.bookedBy?.length }} / {{ element.instancesCount }}
        </td>
      </ng-container>
    
      <ng-container matColumnDef="visibility">
        <th mat-header-cell *matHeaderCellDef> Visibility </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip>
            @if (element.visibility) {
              yes
            } @else {
              no
            }
          </mat-chip>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="bookedBy">
        <th mat-header-cell *matHeaderCellDef> Booked by </th>
        <td mat-cell *matCellDef="let element"> 
          @if (element.bookedBy.length) {
            <emr-avatar-group>
              @for (user of element.bookedBy; track user.id) {
                <emr-avatar
                  src="https://avatar.iran.liara.run/username?username={{user.firstName}}+{{user.lastName}}]"
                  tooltip="{{user.firstName}} {{user.lastName}}"
                ></emr-avatar>
              }
            </emr-avatar-group>
          } @else {
            <span>-</span>
          }
        </td>
      </ng-container>
    
      <ng-container matColumnDef="takenBy">
        <th mat-header-cell *matHeaderCellDef> Taken by </th>
        <td mat-cell *matCellDef="let element"> 
          @if (element.takenBy.length) {
            <emr-avatar-group>
              @for (user of element.takenBy; track user.id) {
                <!-- <emr-avatar [text]="user.firstName[0] + user.lastName[0]"></emr-avatar> -->
                <emr-avatar
                  src="https://avatar.iran.liara.run/username?username={{user.firstName}}+{{user.lastName}}]"
                  tooltip="{{user.firstName}} {{user.lastName}}"
                ></emr-avatar>
              }
            </emr-avatar-group>
          } @else {
            <span>-</span>
          }
        </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="primary" (click)="edit(element); $event.stopPropagation()">
            <mat-icon class="material-symbols-outlined">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(element); $event.stopPropagation()">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        class="hover:bg-primary-50 dark:hover:bg-neutral-700 row"
        [routerLink]="[row.id]"
      ></tr>
    </table>
  </div>
</div>

<ng-template #confirmationDialog let-data>
  <h2 mat-dialog-title>{{data.action | titlecase}} this {{data.item.name}}?</h2>
  <mat-dialog-content>
    <p>Are you sure you want to {{data.action}} this item?</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="true">{{data.action | titlecase}}</button>
  </mat-dialog-actions>
</ng-template>