<mat-icon class="material-symbols-outlined search-icon">search</mat-icon>
<input
  type="text"
  [(ngModel)]="searchText"
  (input)="loadSearchResults()"
  placeholder="Start typing to search for anything..."
  (focus)="focus($event, suggestionDropdown)"
>
@if (searchText) {
  <div class="absolute end-1 w-max">
    <button mat-icon-button (click)="clearText()">
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </div>
}

<ng-template #suggestionDropdown>
  <emr-suggestions class="rounded-b border-t dark:border-t-neutral-600 w-[600px] dark:bg-neutral-700 p-4 space-y-4">
    @if (results?.items?.length) {
      <emr-suggestion-block heading="Items">
        @for (item of results!.items; track item.id) {
          <emr-suggestion [routerLink]="'/pages/items/' + item.id" (click)="close()">
            @if (item.imgSrc) {
              <img emrSuggestionIcon [src]="getImgSrc(item.imgSrc)" class="w-8 h-8 my-2 rounded-lg"/>
            } @else {
              <div emrSuggestionIcon class="w-8 h-8 my-2 flex items-center justify-center rounded-lg bg-primary-200 dark:bg-neutral-700">
                <mat-icon class="material-symbols-outlined">image</mat-icon>
              </div>
            }
            <span>{{ item.name }}</span>
          </emr-suggestion>
        }
      </emr-suggestion-block>
    }

    @if (results?.categories?.length) {
      <emr-suggestion-block heading="Categories">
        @for (category of results!.categories; track category.id) {
          <emr-suggestion [routerLink]="'/pages/categories/' + category.id" (click)="close()">
            <div emrSuggestionIcon class="w-8 h-8 my-2 flex items-center justify-center rounded-lg bg-primary-200 dark:bg-neutral-700">
              <mat-icon class="material-symbols-outlined">
                @if (category.icon) {
                  {{ category.icon }}
                } @else {
                  category
                }
              </mat-icon>
            </div>
            <span>{{ category.title }}</span>
            <button
              mat-icon-button
              emrSuggestionActions
              matTooltip="View associated items"
              (click)="navigateToRelativeItems({ category: category.id }); $event.stopPropagation();"
            >
              <mat-icon class="material-symbols-outlined">list</mat-icon>
            </button>
          </emr-suggestion>
        }
      </emr-suggestion-block>
    }

    @if (results?.locations?.length) {
      <emr-suggestion-block heading="Locations">
        @for (location of results!.locations; track location.id) {
          <emr-suggestion [routerLink]="'/pages/locations/' + location.id" (click)="close()">
            <div emrSuggestionIcon class="w-8 h-8 my-2 flex items-center justify-center rounded-lg bg-primary-200 dark:bg-neutral-700">
              <mat-icon class="material-symbols-outlined">location_on</mat-icon>
            </div>
            <span>{{ location | location }}</span>
            <button
              mat-icon-button
              emrSuggestionActions
              matTooltip="View associated items"
              (click)="navigateToRelativeItems({location: location.id}); $event.stopPropagation();"
            >
              <mat-icon class="material-symbols-outlined">list</mat-icon>
            </button>
          </emr-suggestion>
        }
      </emr-suggestion-block>
    }

    @if (results?.users?.length) {
      <emr-suggestion-block heading="Users">
        @for (user of results!.users; track user.id) {
          <emr-suggestion [routerLink]="'/pages/users/' + user.id" (click)="close()">
            <img emrSuggestionIcon [src]="user.avatar" class="w-8 h-8 my-2 rounded-lg"/>
            <span>{{ getFullName(user) }}</span>
            <button
              mat-icon-button
              emrSuggestionActions
              matTooltip="View associated items"
              (click)="navigateToRelativeItems({ users: [ user.id ] }); $event.stopPropagation();"
            >
              <mat-icon class="material-symbols-outlined">list</mat-icon>
            </button>
          </emr-suggestion>
        }
      </emr-suggestion-block>
    }

    @if (!hasResults) {
      <emr-suggestion-block heading="No results found">
        <emr-suggestion>
          <span>No results found for "{{ searchText }}"</span>
        </emr-suggestion>
      </emr-suggestion-block>
    }
  </emr-suggestions>
</ng-template>
