<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content class="form-vertical">
    <mat-form-field>
      <input matInput required formControlName="name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    @if (!selectedCategory) {
      <button mat-flat-button type="button" color="warn" [matMenuTriggerFor]="categoriesMenu">Select Category</button>
    } @else {
      <div class="flex items-center justify-between flex-row">
        <span> {{selectedCategory.title}} </span>
        <button mat-icon-button type="button" color="primary" [matMenuTriggerFor]="categoriesMenu">
          <mat-icon class="material-symbols-outlined">category</mat-icon>
        </button>
      </div>
    }

    <mat-menu #categoriesMenu="matMenu" yPosition="below">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-menu-item (click)="onCategorySelect(node)">{{node.title}}</button>
        </mat-tree-node>
    
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <button mat-menu-item (click)="onCategorySelect(node)">{{node.title}}</button>
          
          <div class="pl-12">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-menu>
    <!-- <mat-checkbox class="py-4" formControlName="visibility">Visible</mat-checkbox> -->
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!itemForm.valid" >Save</button>
  </mat-dialog-actions>
</form>